--- 

---
// Derives all of the code from the _sass folder, and just pieces it together!
 
@import "variables";
@import "animations";
@import "basic";
@import "button";
@import "classes";
@import "footer";
@import "navbar";
@import "team";
@import "accountability"