---
---

// Derives all of the code from the _sass folder, and just pieces it together!

// variables and utils
@import "variables";
@import "functions";
@import "basic";
@import "grid";

// components
@import "animations";
@import "button";
@import "footer";
@import "generated-content";
@import "navbar";

// pages
@import "accountability";
@import "classes";
@import "dev";
@import "post";
@import "team";
@import "docs";
@import "py1";
@import "aiml";
@import "rnative";
@import "ailessons.scss"
