title: ACM Teach LA
email: acmteachla@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  ACM Teach LA is an non-profit outreach organization at UCLA dedicated to providing equal access to computer science education for all students in Los Angeles.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://teachla.uclaacm.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter:
  username: uclaacm
  image: https://teachla.uclaacm.com/img/teachLA_logo_light.png
github_username: uclaacm

facebook_username: acmteachla
linkedin_url: https://www.linkedin.com/company/acm-teach-la-acm-ucla
editor_link: https://editor.uclaacm.com

general_interest: https://tinyurl.com/teach-la-interest-form
dev_team_interest: https://forms.gle/Yu49uA374S6caAmu9

# defaults
defaults:
  - scope:
      path: ""
      type: "docs"
    values:
      layout: "docs-default"
  - scope:
      path: ""
      type: "aiml"
    values:
      layout: "aiml-lesson"
  - scope:
      path: ""
      type: "rnative"
    values:
      layout: "rnative-lesson"
  - scope:
      path: ""
      type: "py1"
    values:
      layout: "py1-lesson"
  -
    scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: ""
      type: "team"
    values:
      layout: "team-member"

# collections
collections:
  posts:
    permalink: /blog/:categories/:year/:month/:day/:title/
  aiml:
    permalink: /classes/ml/:name
    output: true
  rnative:
    permalink: /classes/rnative/:name
    output: true
  docs:
    output: true
    permalink: /docs/:name
  py1:
    permalink: /classes/py1/:name
    output: true
  reports:
    output: true
    permalink: /reports/:name
  team:
    output: true
    permalink: /team/:name

# Configure category pages plugin here
permalink: /:year/:month/:day/:title:output_ext #gets rid of index.html from category page links (probably)
category_path: "/blog/category" # sets folder for category pages to be located
# category_layout: "category_index.html" # <- default value
paginate: 3 # <- turn on pagination with 3 posts per page

# Build settings
markdown: kramdown
plugins:
  - jekyll-seo-tag
  - jekyll-category-pages
  - jekyll-paginate
sass:
  sass_dir: _sass

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md
  - Rakefile
  - LICENSE
