---
layout: default
title: "Placeholder Lesson"
permalink: "/classes/ml"
---

<div class="page">
  <div class="content">

    <div class="image-title">
  <img
    class="responsive-img"
    src="{{site.baseurl}}/img/undraw/dev-and-teacher.svg"
    alt="teacher standing in front of backboard and developer coding on laptop"
  />
  <div>
    <label>introduction to</label>
    <h1>AI & ML</h1>
  </div>
</div>

<div>
  <p>
    We present a year-long, modern machine learning class led by UCLA students!
    Students will discover and explore the computational and mathematical tools
    behind artificial intelligence and machine learning! In a single year, they
    will advance from understanding simple AI models that predict weather to
    analyzing the complex AI systems that power self-driving cars.
    
 </br></br>
    Throughout the year, students will have numerous opportunities to learn and code with
    Python. Python is one of the most popular programming languages in use
    today, with wide-ranging applications in data processing, web development,
    and machine learning. Last year, our students used Python to train AI models
    that predict stock market prices, guess the popularity of a song on Spotify,
    and detect handwritten digits. 
  </br></br>
    Learning machine learning does not occur in a
    vacuum! We encourage our students to think critically about the applications
    and ethics of AI. In the past, we’ve brainstormed which types of AI are
    best-suited to tackle facial recognition and estimate house prices.
    Furthermore, we’ve held in-depth discussions on the ethics of AI-powered
    self-driving cars and what it actually means for AI to be racist.
  </p>
</div>

<div class="lesson-contact">
  <div>
    <h3>School Location</h3>
    <p>enter school location</p>
  </div>
  <div>
    <h3>Have questions?</h3>
    <p>Contact out curriculum lead!</p>
  </div>
  <div>
    <h3>Ava Asmani</h3>
    <p>ava.asmani@gmail.com</p>
  </div>
</div>

<div>
  <h2>Learning goals</h2>
  <div class="rounded-green-border">
    <ul class="spacedlist">
      <li>Understand what AI and ML are, and their differences</li>
      <li>Learn about deep learning and its applications</li>
      <li>Differentiate between classification and regression</li>
      <li>
        Use Python and related libraries in Google Colab to manipulate data
      </li>
      <li>Learn and apply linear regression to real-world datasets</li>
      <li>Understand the intuition behind gradient descent</li>
      <li>Learn and apply logistic regression to real-world datasets</li>
      <li>
        Understand probability, Bayes' Theorem, and binary cross-entropy loss at
        a conceptual level
      </li>
      <li>Walk through the building blocks of a neural network</li>
      <li>
        Understand the challenges behind optimization and the applications of
        regularization
      </li>
      <li>Conceptually grasp and implement convolutional neural networks</li>
      <li>Explore the ethics behind applications of AI and ML</li>
    </ul>
  </div>
</div>

<div>
  <h2>Lessons</h2>
  <div class="center">
    <div class="lesson-triple-col">
      {% for lesson in site.aiml %}
      <div class="lesson-w-chip">
        <h3>{{lesson.title}}</h3>
        {% if lesson.excerpt %}
          {{lesson.excerpt}}
        {% endif %}
        <div class="green-chips">
          {% if lesson.slides_link %}
          <div href="{{lesson.slides_link}}">slides</div>
          {% endif %}
          {% if lesson.homework_link %}
          <div href="{{lesson.homework_link}}">worksheet</div>
          {% endif %}
          {% if lesson.colab_link %}
          <div href="{{lesson.colab_link}}">colab</div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div>
  <div>
    <h1 class="reset">More resources</h1>
    <p>These are our favorite AI/ML resources - they're all awesome!</p>
  </div>
  <div class="two-by-two">
    {% for subcategory in site.data.curriculum_resources.aiml %}
    <div>
      <h3>{{subcategory.title}}</h3>
      <ul>
        {% for item in subcategory.items %}
        <li>{{item.name}}</li>
        {% endfor %}
      </ul>
    </div>
      {% endfor %}
    </div>
  </div>
</div>
  </div>
</div>