---
layout: default
title: The Teach LA Blog
permalink: /blog/
---

<h1 class="title page-title">The Teach LA Blog</h1>
<p>
  We love what we do, and we want to share it with you! Here are some insights from our members on how our club operates: how we teach, write code, and create a community!
</p>

<h2 class="top-padding">Most Recent</h2>
{% assign post_count = 0 %}

{% for post in site.posts %}
    {% assign post_count = post_count | plus: 1 %}

    {% if post_count == 2 %}
    <h2 class="top-padding">Past blogs</h2>
<div class="blogs">
    {% endif %}
    
    {% if post_count == 1 %}
        {% include blog-preview-card.html %}
    {% endif %}
    {% if post_count >= 2 %}
        {% include blog-preview-card-small.html %}
    {% endif %}

{% endfor %}
</div>

 <!-- TODO: IMPLEMENT TAGS! -->

    <!-- {% comment %}
    {% if post.tags %}
        tags:
        {% for tag in post.tags %}
            {{tag}}{% if forloop.last == false %}, {% endif %}
        {% endfor %}
    {% endif %}
    {% endcomment %} -->