---
layout: default
title: The Teach LA Blog
permalink: /blog/
---

<h1 class="title page-title">The Teach LA Blog</h1>
<p>
  We love what we do, and we want to share it with you! Here are some insights from our members on how our club operates: how we teach, write code, and create a community!
</p>
<p>
  Interested in more formal reflections on the inner workings of our club? Check out <a class="tla-link" href="{{site.baseurl}}/reports">reports section</a>. Curious in how we handle teaching an artificial intelligence and machine learning class at a high school, or our joint efforts to provide AI education? Peep the <a class="ai-link" href="https://uclaacmai.github.io/blog/" target="_blank" rel="noopener noreferrer">ACM AI blog!</a>
</p>

{% for post in site.posts %}
<section class="post-card">

    <!-- TODO: IMPLEMENT TAGS! -->

    {% comment %}
    {% if post.tags %}
        tags:
        {% for tag in post.tags %}
            {{tag}}{% if forloop.last == false %}, {% endif %}
        {% endfor %}
    {% endif %}
    {% endcomment %}
  <div class="post-preview">
    <a href={{post.url}}>
      <img  class="post-preview-img" src="{{site.baseurl}}/{{post.image}}" alt="{{post.alt}}" />
    </a>
    <div class="post-info">
      <h2 class="title">
        <a class="tla-link" href="{{post.url}}">{{post.title}}</a>
      </h2>
      <p class="title">
        by {{post.author}} <span class="text-normal">on {{ post.date | date: "%b %-d, %Y" }}</span> | category: <a class="tla-link" href="{{site.baseurl}}/blog/category/{{post.category}}/">{{post.category}}</a>
      </p>
      <hr class="divider"/>
      <p class="generated-content">{{post.excerpt}}</p>
    </div>
  </div>
</section>
{% endfor %}

{% include contact-cta.html %}
