---
layout: default
title: "Dev & Software at Teach LA"
permalink: "/dev"
---

<h1 class="title page-title">Dev & Software</h1>

<div class="row-desktop-ratio-1-2">
    <div class="v-center-children">
        <img class="img-responsive" src="{{site.baseurl}}/img/undraw/pair-programming.svg" alt="Man and Woman pair programming at one computer."/>
    </div>
    <div class="dev-content">
        <h2 class="title">About the Dev Team</h2>
        <p>
            ACM Teach LA has a vibrant development team focused on using software to democratize access to education. We develop a range of web applications, from tools like <a class="tla-link" href="{{site.editor_link}}" target="_blank" rel="noopener noreferrer">our online code editor</a>, to our interactive and narrative-focused learning labs, to this very website!
        </p>
        <p>
            We're also an organization committed to open-source. Everything we do, from all of our projects to developer training, is available on ACM @ UCLA <a class="tla-link" href="https://github.com/{{site.github_username}}" target="_blank" rel="noopener noreferrer">GitHub organization</a>. You can even view <a class="tla-link" href="https://github.com/uclaacm/teach-la-website/blob/master/dev.html" target="_blank" rel="noopener noreferrer">this page on GitHub</a>.
        </p>
        <div class="button-container">
            <a class="button button-dark" href="{{site.dev_team_interest}}">
                <span class="fa fa-file-alt"></span> Join Us!
            </a>
            <a class="button button-dark" href="{{site.baseurl}}/docs">
                <span class="fa fa-file-alt"></span> Dev Docs
            </a>
            <a class="button button-dark" href="#projects">
                <span class="fab fa-github"></span> Our Projects
            </a>
            
        </div>
    </div>
</div>

<div class="row-desktop-ratio-1-2 row-desktop-reverse">
    <div class="v-center-children">
        <img class="img-responsive" src="{{site.baseurl}}/img/undraw/team-page.svg" alt="clip art showing diverse group of profile images on webpage" />
    </div>
    <div class="dev-content">
        <h2 class="title" id="join">Join us!</h2>
        <p>
            In parallel, we're a dev team focused on developer training, education, and growth. There's no application, we don't require prior knowledge, and <b>we want to see you succeed.</b>
        </p>
        <p>
            Who are we looking for? The short answer is, lots of people! We care most about people who are passionate about education and technology and want to help teach the world - previous experience or tech skills is a plus, but absolutely not required. Relevant roles include:
        </p>
        <ul>
            <li>
                Content Developers (no coding required!)
            </li>
            <li>
                Frontend Web Developers
            </li>
            <li>
                Backend Web Developers
            </li>
            <li>
                UI/UX Designers
            </li>
            <li>
                Graphic Designers
            </li>
            <li>
                ... and, <b>your role</b>, even if it's not here
            </li>
        </ul>
        <p>
            Sound like something you want to do? <a class="tla-link" href="{{site.dev_team_interest}}">Fill out our interest form!</a> Or, if you want more information, you can email our <a class="tla-link" href="{{site.baseurl}}/team/dponniah">our dev team director, Divya</a>. We're excited to see you soon!
        </p>
    </div>
</div>

<h2 class="title page-title text-center" id="projects">Our Projects</h2>
<div class="row-desktop-ratio-1-1-1">
    {% assign finished = site.data.projects | where:"wip", "false" %}
    {% for proj in finished %}
    <div class="dev-project-card">
        <div class="dev-project-card-content">
            <h3 class="title dev-project-title">
                {{ proj.name }}
            </h3>
            <div class="dev-project-info-row">
                <span class="dev-project-badge lang-{{proj.lang.abbrev}}"></span> {{proj.lang.full}} •
                <a class="tla-link" href="{{proj.link}}"><span class="fa fa-link"></span> project</a>
                 •
                <a class="tla-link" href="https://github.com/{{proj.repo}}"><span class="fab fa-github"></span> repo</a>
            </div>
            <p>
                {{proj.description}}
            </p>
            {% if proj.lead %}
            <p>
                Lead(s):
                {% for lead in proj.lead %}
                    <a class="tla-link" href="{{site.baseurl}}/team/{{lead.hash}}">
                        {{lead.name}}
                    </a>{% if forloop.last != true %},{% endif %}
                {% endfor %}
            </p>
            {% endif %}
        </div>

        <div class="dev-project-tech-container">
            {% for tech in proj.tech %}
            <span class="dev-project-tech-tag">
                {{tech}}
            </span>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<h2 class="title page-title text-center"id="WIP">Stuff that's in the works</h2>
<div class="row-desktop-ratio-1-1-1">
    {% assign inProgress = site.data.projects | where:"wip", "true"%}
    {% for proj in inProgress %}
    <div class="dev-project-card">
        <div class="dev-project-card-content">
            <h3 class="title dev-project-title">
                {{ proj.name }}
            </h3>
            <div class="dev-project-info-row">
                <span class="dev-project-badge lang-{{proj.lang.abbrev}}"></span> {{proj.lang.full}} •
                {% if proj.link %}
                    <a class="tla-link" href="{{proj.link}}"><span class="fa fa-link"></span> project</a>
                    •
                {% endif %}
                <a class="tla-link" href="https://github.com/{{proj.repo}}"><span class="fab fa-github"></span> repo</a>
            </div>
            <p>
                {{proj.description}}
            </p>
            {% if proj.lead %}
            <p>
                Lead(s):
                {% for lead in proj.lead %}
                    <a class="tla-link" href="{{site.baseurl}}/team/{{lead.hash}}">
                        {{lead.name}}
                    </a>{% if forloop.last != true %},{% endif %}
                {% endfor %}
            </p>
            {% endif %}
        </div>

        <div class="dev-project-tech-container">
            {% for tech in proj.tech %}
            <span class="dev-project-tech-tag">
                {{tech}}
            </span>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>


{% include contact-cta.html %}
