---
layout: default
title: "Schools, Sponsors, and Partners"
permalink: "/partners"
---

<h1 class="title page-title">Schools, Sponsors, and Partners</h1>

<p> We'd like to give thanks to some of the amazing organizations that work with us!</p>

{% assign affiliates = site.data.partners | where_exp:"item", "item.type == 'affiliate'" | sort:"name" %}
{% assign partners = site.data.partners | where_exp:"item", "item.type == 'partner'" | sort:"name" %}

<h2 class="title">Partnered Schools</h2>
<p>
    Currently, we are teaching <a href="{{basesite.url}}/classes" class="tla-link">classes</a> and working with the following schools:
<ul>
    <li>
        <a class="tla-link" href="https://baes-lausd-ca.schoolloop.com/">Brockton Avenue Elementary School</a>
    </li>
    <li>
        <a class="tla-link" href="https://rwees-compton-ca.schoolloop.com/">Ralph Waldo Emerson Elementary School</a>
    </li>
    <li>
        <a class="tla-link" href="https://www.nhhs.net/">North Hollywood High School</a>
    </li>
    <li>
        <a class="tla-link" href="https://www.sepulvedams.org/">Sepulveda Middle School</a>
    </li>
    <li>
        <a class="tla-link" href="https://www.shortavenue.org/">Short Avenue Elementary School</a>
    </li>
</ul>
</p>

<p>
    In the past, we have worked with:
<ul>
    <li> Mark Twain Middle School </li>
    <li> Archer School for Girls </li>
    <li> Marlborough School </li>
</ul>
</p>

<h2>
    Partners
</h2>

<p>
    The following organizations have directly partnered with us to further expand our organization.
</p>

<div class="row-desktop-ratio-1-1-1">
    {% for partner in partners %}
    <div class="col-padded v-center-children">
        <a href="{{ partner.link }}" target="_blank" rel="noopener noreferrer"><img src="{{site.baseurl}}/img/partners/{{partner.path}}" class="img-responsive img-sponsor" alt="{{ partner.name }} logo" /></a>
    </div>
    {% endfor %}
</div>

<h2>
    Affiliates
</h2>

<p>
    The following organizations support our efforts through their affiliation with the UCLA computer science department.
</p>

<div class="row-desktop-ratio-1-1-1">
    {% for affiliate in affiliates %}
    <div class="col-padded v-center-children">
        <a href="{{ affiliate.link }} " target="_blank" rel="noopener noreferrer"><img class="img-responsive img-sponsor" src="{{ site.baseurl }}/img/partners/{{ affiliate.path }}" alt="{{ affiliate.name }} logo" /></a>
    </div>
    {% endfor %}
</div>

<p>
    We're always looking to make new relationships or to renew old ones! If you're interested in working with us,
    please send us an email at <a class="tla-link" href="mailto:{{site.email}}">{{site.email}}</a>.
</p>

<p>
    Teach LA is a member committee of <a class="tla-link" href="https://acm.cs.ucla.edu/">ACM at UCLA</a>, the
    Association for Computing Machinery UCLA Chapter.
</p>
