---
layout: default
title: "Team"
permalink: /team
---

<h1 class="title page-title">Team</h1>
<p>
    Here are all of the awesome people that make Teach LA happen! We're UCLA students who have dedicated themselves to empowering students through computer science.
</p>

<!-- GENERAL BOARD -->

<h2 class="title" id="general-board">General Board</h2>
<p>
    Our directors, school leads, and curriculum leads. Feel free to reach out to any of our board for more information about what we do!
</p>

{% assign genLeadership = site.team
  | where_exp:"person", "person.group contains 'general board'"
  | sort:"board_order" %}

<div class="row-desktop-ratio-1-1 text-12x TEAM-SPECIAL">
  {% for member in genLeadership %}
    <div class="grid-row" id="{{ member.slug }}">
      <div class="grid-col">
        <div class="profile-img-container">
          {% if member.img %}
            <img class="profile-img"
                 src="{{ site.baseurl }}/img/team/{{ member.img }}"
                 alt="picture of {{ member.name }}" />
          {% else %}
            <img class="profile-img"
                 src="{{ site.baseurl }}/img/team/blank.jpg"
                 alt="blank profile for {{ member.name }}" />
          {% endif %}
        </div>
      </div>

      <div class="grid-col">
        <div class="team-member-content">
          <h3 class="no-margin title">
            {{ member.name }}
            {% if member.pronouns %}
              <span class="pronouns"> ({{ member.pronouns }})</span>
            {% endif %}
          </h3>
          <p class="team-member-position">
            {{ member.title }}
            {% if member.secondary %}
              &amp; {{ member.secondary }}
            {% endif %}
            {% if member.third %}
              &amp; {{ member.third }}
            {% endif %}
          </p>
          <ul class="list-unstyled">
            {% assign content = member.content | strip %}
            {% if member.github and member.links == nil and content == "" %}
              <li>
                <a class="tla-link" href="https://github.com/{{ member.github }}">
                  <span class="fab fa-github"></span> {{ member.github }}
                </a>
              </li>
            {% endif %}
            {% if member.links or content != "" %}
              <li>
                <a class="tla-link" href="{{ site.baseurl }}/team/{{ member.slug }}">
                  <span class="fas fa-arrow-circle-right"></span> More Info
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<!-- DEV BOARD -->

<h2 class="title" id="dev-board">Dev Board</h2>
<p>
    Our dev consists of our team, training, learning lab, editor, design, and static site directors. Feel free to reach out to any of our board for more information about what we do!
</p>

{% assign devLeadership = site.team
  | where_exp:"person", "person.group contains 'dev board'"
  | sort:"board_order" %}

<div class="row-desktop-ratio-1-1 text-12x TEAM-SPECIAL">
  {% for member in devLeadership %}
    <div class="grid-row" id="{{ member.slug }}">
      <div class="grid-col">
        <div class="profile-img-container">
          {% if member.img %}
            <img class="profile-img"
                 src="{{ site.baseurl }}/img/team/{{ member.img }}"
                 alt="picture of {{ member.name }}" />
          {% else %}
            <img class="profile-img"
                 src="{{ site.baseurl }}/img/team/blank.jpg"
                 alt="blank profile for {{ member.name }}" />
          {% endif %}
        </div>
      </div>

      <div class="grid-col">
        <div class="team-member-content">
          <h3 class="no-margin title">
            {{ member.name }}
            {% if member.pronouns %}
              <span class="pronouns"> ({{ member.pronouns }})</span>
            {% endif %}
          </h3>
          <p class="team-member-position">
            {{ member.title }}
            {% if member.secondary %}
              &amp; {{ member.secondary }}
            {% endif %}
            {% if member.third %}
              &amp; {{ member.third }}
            {% endif %}
          </p>
          <ul class="list-unstyled">
            {% assign content = member.content | strip %}
            {% if member.github and member.links == nil and content == "" %}
              <li>
                <a class="tla-link" href="https://github.com/{{ member.github }}">
                  <span class="fab fa-github"></span> {{ member.github }}
                </a>
              </li>
            {% endif %}
            {% if member.links or content != "" %}
              <li>
                <a class="tla-link" href="{{ site.baseurl }}/team/{{ member.slug }}">
                  <span class="fas fa-arrow-circle-right"></span> More Info
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


<!-- PREVIOUS BOARDS -->

<h2 class="title">Previous Boards</h2>
<p>
    <a class="tla-link" href="https://en.wikipedia.org/wiki/Rome_wasn%27t_built_in_a_day" target="_blank" rel="noopener noreferrer">Rome wasn't built in a day</a>, and neither was Teach LA! Many thanks to our previous boards for steering our organization in the right direction.
</p>

<h3 class="title">2023-2024</h3>

<li><b>Aarushi Verma: </b>School Lead</li>
<li><b>April Sun: </b>School Lead</li>
<li><b>Carissa Ott: </b> (2025) Jedi Director</li>
<li><b>Eden Yu: </b>Advisor</li>
<li><b>Janie Kuang: </b>School Lead</li>
<li><b>Joseph Ramirez: </b> (2024) President</li>
<li><b>Mihir Srivastva: </b>School Lead</li>
<li><b>Nicholas Wang: </b>Curriculum Director</li>
<li><b>Sruthi Rangarajan: </b>(2025) President</li>
<li><b>Vera Parke: </b> Special Events Director</li>

<h3 class="title">2022-2023</h3>

<li><b>Advaith Gowrishetty</b> : Special Events Director</li>
<li><b>Angela Ling</b> (2024): Design Director</li>
<li><b>Archie Datta</b> (2024): Dev Outreach Director</li>
<li><b>Ashley Lu</b> (2024): Special Events Director</li>
<li><b>Ava Asmani</b> (2024): Advisor</li>
<li><b>Carissa Ott</b> (2025): JEDI Director</li>
<li><b>Dane Payba</b> (2024): Special Events Director</li>
<li><b>Divya Ponniah</b> (2023): Dev Advisor</li>
<li><b>Evan He</b> (2024): Training Director</li>
<li><b>Ishani Sarkar</b> (): Outreach Director</li>
<li><b>Jenny Wang</b> (2025): Curriculum Director</li>
<li><b>Jiin Kim</b> (2024): Dev Team President</li>
<li><b>Joseph Ramirez</b> (2024): Curriculum Director</li>
<li><b>Kaitlyn Wang</b> (2022): Advisor</li>
<li><b>Kaylee Harris</b> (2024): School Lead</li>
<li><b>Matthew Nieva</b> (): Dev Advisor</li>
<li><b>Nathan Endow</b> (2024): Training Director</li>
<li><b>Nicholas Hamakami</b> (2024): Static Site Director</li>
<li><b>Nikhil Kumar</b> (2022): Advisor</li>
<li><b>Premkumar Gridhar</b> (2024): Training Director</li>
<li><b>Robert Tran</b> (2023): School Lead</li>
<li><b>Sruthi Rangarajan</b> (2025): Teaching Director</li>
<li><b>Vivian Ha</b> (2023): Dev Advisor</li>

<h3 class="title">2021-2022</h3>

<li><b>Advaith Gowrishetty</b> (): Special Events Director</li>
<li><b>Archie Datta</b> (2024): Design Director</li>
<li><b>Ava Asmani</b> (2024): AI/ML School Lead</li>
<li><b>Chase Kapler</b> (2023): React Native School Lead</li>
<li><b>Chloe Uy</b> (2022): Vice President</li>
<li><b>Christine Kim</b> (2024): JEDI Director</li>
<li><b>Divya Ponniah</b> (2023): Dev Team Director</li>
<li><b>Eden Yu</b> (2024): Special Events Director, Scratch School Lead</li>
<li><b>Ellie Cheng</b> (2022): Dev Team Training Director</li>
<li><b>Helia Woo</b> (2023): Python Video Lead</li>
<li><b>Ishani Sarkar</b> (): Outreach Director</li>
<li><b>Jiin Kim</b> (2024): Learning Labs Director</li>
<li><b>Kaitlyn Wang</b> (2022): Special Events Director</li>
<li><b>Matthew Nieva</b> (): Dev Team Training Director</li>
<li><b>Matthew Wang</b> (2022): Advisor</li>
<li><b>Milo Kearney</b> (2023): President</li>
<li><b>Nikhil Kumar</b> (2022): Curriculum Director, Social Chair, Emerson Friday School Lead</li>
<li><b>Nina Lu</b> (2022): Special Events Director</li>
<li><b>Regina Wang</b> (2022): Dev Team Training Director</li>
<li><b>Robert Tran</b> (2023): School Lead</li>
<li><b>Sophie Schoenmeyer</b> (2023): President</li>
<li><b>Timothy Poon</b> (): Editor Director</li>
<li><b>Vivian Ha</b> (2023): Static Site Director</li>

<h3 class="title">2020-2021</h3>

<li><b>Arjun Subramonian</b> (2021): Advisor,  AI/ML Lead</li>
<li><b>Ashley Ghodsian</b> (2022): JEDI, Python Instructor, Translator</li>
<li><b>Bonnie Lee</b> (2021): Advisor</li>
<li><b>Chase Kapler</b> (2023): React Native School Lead</li>
<li><b>Chloe Uy</b> (2022): Outreach Director, Interim Emerson Lead</li>
<li><b>Helia Woo</b> (2023): JEDI, Python Video Lead</li>
<li><b>Kaitlyn Wang</b> (2022): Special Events Director</li>
<li><b>Keertana Namuduri</b> (2022): Advisor</li>
<li><b>Leo Krashanoff</b> (2022): Dev Team Director</li>
<li><b>Malak Hmimy</b> (2021): Sepulveda Lead, Advisor</li>
<li><b>Matthew Wang</b> (2022): President, Interim Dev Team Director</li>
<li><b>Nikhil Kumar</b> (2022): Curriculum Director, Python Lead</li>
<li><b>Nina Lu</b> (2022): Special Events Director</li>
<li><b>Regina Wang</b> (2022): Special Events Director, Dev Project Lead</li>
<li><b>Sharvani Jha</b> (2021): Moonshots Advisor</li>
<li><b>Sophie Schoenmeyer</b> (2023): Logistics Director</li>

<h3 class="title">2019-2020</h3>

<li><b>Arjun Subramonian</b> (2021): Logistics Director, NHHS Lead</li>
<li><b>Bonnie Lee</b> (2021): Outreach Director</li>
<li><b>Christina Indudhara</b> (2020): President</li>
<li><b>Malak Hmimy</b> (2021): Activities Director, Sepulveda Lead</li>
<li><b>Matthew Wang</b> (2022): Dev Team Director</li>
<li><b>Pragathi Venkatesh</b> (2022): Brockton Lead</li>
<li><b>Shane Cho</b> (2021): Activities Director, Emerson Lead</li>
<li><b>Sharvani Jha</b> (2021): NHHS Lead</li>

<h3 class="title">2018-2019</h3>

<li><b>Bonnie Lee</b> (2021): Expansion Director</li>
<li><b>Christina Indudhara</b> (2020): Curriculum Director</li>
<li><b>Connor Borden</b> (2019): Dev Team Director</li>
<li><b>Furn Techalertumpai</b> (2020): Logistics Director</li>
<li><b>John Stucky</b> (2019): President</li>
<li><b>Michael Grieve</b> (2019): Curriculum Director, Lead Instructor</li>
<li><b>Richard Wen</b> (2019): President and Outreach Director</li>

<h3 class="title">2017-2018</h3>

<li><b>Apurva Panse</b> (2018): President and Outreach Director</li>
<li><b>John Stucky</b> (2019): Head Instructor</li>
<li><b>Krishna Babu</b> (2018): Logistics Director</li>
<li><b>Richard Wen</b> (2019): Curriculum Director</li>

<h3 class="title">2016-2017</h3>

<li><b>Alejandra Cervantes</b> (2019): Director of Pedagogy</li>
<li><b>Apurva Panse</b> (2018): Director of Outreach</li>
<li><b>Enrique Segura</b> (2017): Instructor</li>
<li><b>John Stucky</b> (2019): Instructor</li>
<li><b>Michael Wang</b> (2018): Instructor</li>

<!-- ====================== GRADUATING GREATS (STATIC) ====================== -->

<h2 class="title">Graduating Greats!</h2>
<p>
    Teach LA honors its alumni who have stayed with the organization through graduation.
</p>
<ul>
    <li><b>Enrique Segura</b> (2017)</li>
    <li><b>Apurva Panse</b> (2018)</li>
    <li><b>Krishna Babu</b> (2018)</li>
    <li><b>Connor Borden</b> (2019)</li>
    <li><b>John Stucky</b> (2019)</li>
    <li><b>Michael Grieve</b> (2019)</li>
    <li><b>Richard Wen</b> (2019)</li>
    <li><b>Christina Indudhara</b> (2020)</li>
    <li><b>Lawrence Lee</b> (2020)</li>
    <li><b>Arjun Subramonian</b> (2021)</li>
    <li><b>Aseem Sane</b> (2021)</li>
    <li><b>Bonnie Lee</b> (2021)</li>
    <li><b>Ethan To</b> (2021)</li>
    <li><b>Farrah Au-Yeung</b> (2021)</li>
    <li><b>Jamie Liu</b> (2021)</li>
    <li><b>Malak Hmimy</b> (2021)</li>
    <li><b>Sharvani Jha</b> (2021)</li>
    <li><b>Will O'Brien</b> (2021)</li>
</ul>
