<div id="desktop-sidebar">
    {% for lesson in site.aiml %}
        {% assign pNum = page.num | plus: 0 %}
        {% assign x = lesson.num | plus: 0 %}
        {% if x < pNum %} 
            <div class="sidebar-item">
            <a class="ai-link" href="{{lesson.url}}">#{{lesson.num}} {{lesson.title}}</a>
            </div>
        {% elsif x == pNum and lesson.num == page.num %}
            <div class="sidebar-item">
            <span class="current-dot"></span>
            <a class="ai-link" href="javascript:void(0)">#{{lesson.num}} {{lesson.title}}</a>
            </div>
        {% else %}
            <div class="sidebar-item">
            <a class="ai-link" href="{{lesson.url}}">#{{lesson.num}} {{lesson.title}}</a>
            </div>
       {% endif %}
    {% endfor %}
</div>

<div id="mobile-sidebar">
    <div id="sidebar-btn-container">
        <div id="open-mobile-icon" class="mobile-toggle-btn">Lessons</div>
        <div id="close-mobile-icon" class="mobile-toggle-btn">Close</div>
    </div>
    <div id="hamburger-content">
        {% for lesson in site.aiml %}
            {% assign pNum = page.num | plus: 0 %}
            {% assign x = lesson.num | plus: 0 %}
            {% if x < pNum %} 
                <div class="hamburger-item">
                    <a class="ai-link" href="{{lesson.url}}">#{{lesson.num}} {{lesson.title}}</a>
                </div>
            {% else if x > pNum %}
                <div class="hamburger-item">
                    <a class="ai-link" href="{{lesson.url}}">#{{lesson.num}} {{lesson.title}}</a>
                </div>
            {% else %}
                <div class="hamburger-item">
                    <a class="ai-link" href="javascript:void(0)">#{{lesson.num}} {{lesson.title}}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script>
    function displayHamburgerMenu() {
        let hamburger_content = document.getElementById("hamburger-content");
        hamburger_content.style.display = "flex";

        document.getElementById("open-mobile-icon").style.display = "none";
        
        let closeButton = document.getElementById("close-mobile-icon");
        closeButton.style.display = "inline-block";
        closeButton.style.width = "fit-content";

        document.getElementById('sidebar-btn-container').style.justifyContent = "flex-end";
    }
    function closeHamburgerMenu(){
        let hamburger_content = document.getElementById("hamburger-content");
        hamburger_content.style.display = "none";

        document.getElementById("open-mobile-icon").style.display = "flex";
        let closeButton = document.getElementById("close-mobile-icon");
        closeButton.style.display = "none";

        document.getElementById('sidebar-btn-container').style.justifyContent = "flex-start";
    }

    document.getElementById("open-mobile-icon").addEventListener("click", displayHamburgerMenu);
    document.getElementById("close-mobile-icon").addEventListener("click", closeHamburgerMenu);
</script>