<div class="cta-container text-center">
    <hr class="divider" />
    <h2 class="title">Interested in working with us?</h2>
    <br />
    <p>
        are you...
    </p>
    <p class="bottom-button-container">
        <a class="button" href="{{site.baseurl}}/join">
            <span class="fa fa-fw fa-chalkboard-teacher"></span> Looking to Teach
        </a>
        <a class="button" href="{{site.baseurl}}/dev">
            <span class="fa fa-fw fa-code"></span> Looking to Code
        </a>
        <a class="button" href="{{site.baseurl}}/about#school-join">
            <span class="fa fa-fw fa-school"></span> Representing a School
        </a>
    </p>
    <p class="title">or, send us an email at <a class="tla-link" href="mailto:{{site.email}}">{{site.email}}</a></p>
</div>