<div class = "sidebar">
  <div class="sidebar-content">
   <!-- Add new items or sections here -->
   {% assign order = 
    "*Getting Started,
      Dev Setup,
      Add to Team Page,
      *Test,
      test"
    %}
    

    {% assign order = order | strip_newlines | split: "," %}
    {% assign arrSize = order | size | minus:1 %}
    {% for i in (0..arrSize) %}
      {% assign current = order[i] | lstrip %}
      {% if current contains "*" %}
        {% assign section = current | replace: "*", "" %}
        {% assign spaceless = section | replace: " ", "-" %}
        <label for="{{spaceless}}-button"> {{section}}</label>
        <input type="checkbox" id="{{spaceless}}-button" {% if page.section == section %}checked{% endif %}/>
        <div id="{{spaceless}}">
          <ul class="sidebar-items">
      {% else %}
            {% assign item = site.docs | where: "sidebar-title", current | first %}
              <li><a href="{{item.url}}" 
              {% if page.url == {{item.url}} %}id="selected"{% endif %}>{{item.sidebar-title}}</a></li>
              {% if forloop.last or order[forloop.index] contains "*" %}
               </ul>
               </div>
              {% endif %}
      {% endif %}
   {% endfor %}
  </div>
</div>
  