<div id="navbar">
  <div id="navbar-inner">
    <a href="{{site.baseurl}}/docs/">
      <div id="nav-title" class="nav-section left">
        <img src="{{site.baseurl}}/img/logo-teachla.svg" id="acm-tla-logo" alt="ACM Teach LA Logo" />
        <div id="acm-title">the <b>teach la docs</b></div>
      </div>
    </a>
    <div class="nav-section right" id="desktop-nav">
      <ul class="nav-items">
        <li class="nav-button"><a href="{{site.baseurl}}/">back to site</a></li>
      </ul>
    </div>
    <div class="nav-section right" id="mobile-nav">
      <label for="menu-toggle">
        <span class="hamburger-icon">
          <span class="bar" id="top-bar"></span>
          <span class="bar" id="middle-bar"></span>
          <span class="bar" id="bottom-bar"></span>
        </span>
      </label>
      <input type="checkbox" id="menu-toggle" />
      <div id="hamburger-menu">
        <ul class="nav-items">
          <li class="nav-button"><a href="{{site.baseurl}}/">back to site</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
