<footer class="footer">
    <div class="container container-restricted">
        <div class="footer-row">
            <div class="footer-fullheight-col">
                <div>
                    <h2 class="footer-title">ACM Teach LA</h2>
                    <ul class="footer-nav">
                        <li>
                            <a href="mailto:{{site.email}}">
                                <span class="fa fa-fw fa-envelope"></span> {{site.email}}
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/{{site.facebook_username}}/" target="_blank" rel="noopener noreferrer">
                                <span class="fab fa-fw fa-facebook"></span> ACM Teach LA
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/{{site.github_username}}" target="_blank" rel="noopener noreferrer">
                                <span class="fab fa-fw fa-github"></span> {{site.github_username}}
                            </a>
                        </li>
                        <li>
                            <a href="{{site.linkedin_url}}" target="_blank" rel="noopener noreferrer">
                                <span class="fab fa-fw fa-linkedin"></span> ACM Teach LA
                            </a>
                        </li>
                    </ul>
                </div>

                <a class="footer-link" href="https://www.netlify.com" target="_blank" rel="noopener noreferrer">
                    <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg" alt="Deploys by Netlify" />
                </a>
            </div>
            <div>
                <h3 class="footer-subtitle">what we do</h3>
                <ul class="footer-nav">
                    <li>
                        <a href="{{site.baseurl}}/classes">classes</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/dev">dev</a>
                    </li>
                    <li>
                        <a href="{{site.editor_link}}" target="_blank" rel="noopener noreferrer">editor</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/resources">resources</a>
                    </li>
                </ul>
                <h3 class="footer-subtitle">events</h3>
                <ul class="footer-nav text-1x">
                    <li>
                        <a href="{{site.baseurl}}/citylab-cyber">Cyber Day with CityLab</a>
                    </li>
                </ul>
            </div>
            <div class="text-desktop-right">
                <h3 class="footer-subtitle">
                    who we are
                </h3>
                <ul class="footer-nav">
                    <li>
                        <a href="{{site.baseurl}}/about">about</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/blog">blog</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/reports">reports</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/team">team</a>
                    </li>
                </ul>
                <h3 class="footer-subtitle">
                    internal
                </h3>
                <ul class="footer-nav">
                    <li>
                        <a href="{{site.baseurl}}/docs">docs</a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="text-center">
            &copy; ACM @ UCLA 2019-* // made with <span class="fa fa-heart animated-heartbeat" style="color:tomato" aria-label="animated heartbeat"></span> and <a class="footer-link" href="https://github.com/uclaacm/teach-la-website" target="_blank" rel="noopener noreferrer"><span class="fab fa-github" aria-label="GitHub Logo & Repository"></span></a>
            <br>
        </p>
    </div>
</footer>
