<div id="navbar">
  <div id="navbar-inner">
    <a href="{{site.baseurl}}/">
      <div id="nav-title" class="nav-section left">
        <img src="{{site.baseurl}}/img/logo-teachla.svg" id="acm-tla-logo"></img>
        <div id="acm-title">ACM <b>Teach LA</b></div>
      </div>
    </a>
    <div class="nav-section right" id="desktop-nav">
      <ul class="nav-items">
        <a href="{{site.baseurl}}/about"><li>About</li></a>
        <a href="{{site.baseurl}}/team"><li>Team</li></a>
        <a href="#"><li class="nav-button">Editor</li></a>
      </ul>
    </div>
    <div class="nav-section right" id="mobile-nav">
      <label for="menu-toggle">
        <div class="hamburger-icon">
          <div class="bar" id="top-bar"></div>
          <div class="bar" id="middle-bar"></div>
          <div class="bar" id="bottom-bar"></div>
        </div>
      </label>
      <input type="checkbox" id="menu-toggle" />
      <div id="hamburger-menu">
        <ul class="nav-items">
          <a href="{{site.baseurl}}/about"><li>About</li></a>
          <a href="{{site.baseurl}}/team"><li>Team</li></a>
          <a href="#"><li class="nav-button">Editor</li></a>
        </ul>
      </div>
    </div>
  </div>
</div>