<div id="navbar">
  <div id="navbar-inner">
    <a href="{{site.baseurl}}/">
      <div id="nav-title" class="nav-section left">
        <img src="{{site.baseurl}}/img/teachLA_wordmark_gradient.svg" id="acm-tla-wordmark" alt="ACM Teach LA Wordmark" />
      </div>
    </a>
    <div class="nav-section right" id="desktop-nav">
      <ul class="nav-items">
        <li><a href="{{site.baseurl}}/about">About</a></li>
        <li><a href="{{site.baseurl}}/blog">Blog</a></li>
        <li><a href="{{site.baseurl}}/classes">Classes</a></li>
        <li><a href="{{site.baseurl}}/projects">Projects</a></li>
        <li><a href="{{site.baseurl}}/dev">Dev</a></li>
        <li><a href="{{site.baseurl}}/projects">Projects</a></li>
        <li><a href="{{site.baseurl}}/team">Team</a></li>
        <li class="nav-button"><a href="{{site.baseurl}}/join">Join Us!</a></li>
      </ul>
    </div>
    <div class="nav-section right" id="mobile-nav">
      <label for="menu-toggle">
        <span class="hamburger-icon">
          <span class="bar" id="top-bar"></span>
          <span class="bar" id="middle-bar"></span>
          <span class="bar" id="bottom-bar"></span>
        </span>
      </label>
      <input type="checkbox" id="menu-toggle" />
      <div id="hamburger-menu">
        <ul class="nav-items">
          <li><a href="{{site.baseurl}}/about">About</a></li>
          <li><a href="{{site.baseurl}}/blog">Blog</a></li>
          <li><a href="{{site.baseurl}}/classes">Classes</a></li>
          <li><a href="{{site.baseurl}}/projects">Projects</a></li>
          <li><a href="{{site.baseurl}}/dev">Dev</a></li>
          <li><a href="{{site.baseurl}}/projects">Projects</a></li>
          <li><a href="{{site.baseurl}}/team">Team</a></li>
          <li class="nav-button"><a href="{{site.baseurl}}/join">Join Us!</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
