.ai-link {
    @include tla-link($ai-blue);
}

.divider-ai {
    border-top: 1px solid $ai-blue;
}

.ai-lessons-grid {
    // height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    @media (max-width: $desktop-width) {
        grid-template-columns: 100%;
    }
    margin-bottom: 2em;
}

.ai-lesson-card {
    padding: 0.5em;
    margin-top: 1em;
    border: 2px solid $ai-blue;
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.ai-lesson-card-content {
    flex: 1 0 auto;
}

.ai-content-container{
    //replace grid with flex box
    // display: grid;
    // grid-template-columns: 30% 70%;
    display: inline-flex;
    min-height: 100vh;

    @media (max-width: $desktop-width) {
        // grid-template-columns: 100%;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 70vh;
    }
}

.ai-content-card {
    margin-top: 3em;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid $ai-blue;
}

.ai-slide-iframe{
    display: block;
    width: 100%;
    height: calc(100% * 1469/2559);
    @media (max-width: $desktop-width) {
        height: 100%;
    }
}

.iframe-container {
    padding: 3em;
    width: calc(100% - 6em);
    position: relative;
    flex-shrink: 0.35;
}
.page-container{
    display: flex;
    justify-content: flex-start;
}

.current-dot{
    height:10px;
    width:10px;
    background-color: $ai-blue;
    border-radius: 50%;
    display: inline-block;
}

#desktop-sidebar{
    width:200px;
    margin:48px 10px;
    margin-left: calc(50vw - 758px);
    padding:10px 10px;
    padding-bottom: 0px;
    height: calc(100vh - 186px);
    flex-grow: 0;
    flex-shrink: 0;
    border: solid;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    border-color: $ai-blue;
    z-index: 1;
    display:inline-block;
}
#desktop-sidebar .sidebar-item{
    padding-bottom: 10px;
}
#mobile-sidebar{
    position: fixed;
    top: 70px;
    left: 16px;
    box-sizing: border-box;
    width: 50px;
    display: none;
    z-index: 1;
}

#hamburger-content{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 71px;
    left: 0px;
    z-index: -20;
    height: calc(100vh - 71px);
    width: 100vw;
    background: rgba(255, 255, 255, 1);
    overflow-y: auto;
    // position: fixed;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // height: 100%;
    // width: 100%;
    // z-index: -20;
    // transform: translate3d(0, -100%, 0);
    // background: rgba(255, 255, 255, 0.95);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger-item{
    width: 350px;
    padding: 15px 10px;
    margin: 0px auto;
    flex-direction: column;
    font-size: 1.3em;
}

#sidebar-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90vw;
    margin-top: 10px;
}
#alternate-mobile-icon{
    background: white;
    opacity: 90%;
    border-radius: 10px;
    padding: 3px 3px;
    border: 2px solid $font-secondary-color;
    // transition: transform .3s;
}
#alternate-mobile-icon:hover{
    cursor: pointer;
    // background-color: $ai-blue;
    // transform: scale( 1.08 );
}