.button.button-ai {
    @include button-classes($ai-blue);
}

.ai-link {
    @include class-link($ai-blue);
}

.border-ai {
    border-color: $ai-blue !important; // needed to override the border shorthand
}

.divider-ai {
    @include divider-class($ai-blue);
}

.ai-lesson-card {
    @include lesson-card($ai-blue);
}

.ai-content-card {
    @include class-content-card($ai-blue);
}

.ai-slide-iframe{
    display: block;
    width: 100%;
    height: calc(100% * 1469/2559);
    @media (max-width: $desktop-width) {
        height: 100%;
    }
}

.iframe-container {
    padding: 3em;
    width: calc(100% - 6em);
    position: relative;
}
