 html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    // min-height: 100%;
    min-height: calc(100vh - 70px);
    min-width: 100%;
    font-family: $font-body;
    color: $font-primary-color;
    display: flex;
    flex-direction: column;
}

p {
    line-height: 1.25;
}

ul > li {
    line-height: 1.5;
}

.word-splitter {
    @media (min-width: $desktop-width) {
        display: none;
    }
}

.container {
    padding: 1em;
    margin: auto;
    max-width: 1000px; // enforces a not-too-wide text viewport
}

.container-fill{
    flex: 1 0 auto; // makes container grow into screen
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.bg-teachla{
    background-color: $teachla-green;
}

.text-teachla{
    color: $teachla-green;
}

.text-center{
    text-align: center;
}

.title{
    font-family: $font-display;
    margin-bottom: 0;
}

.text-2x{
    font-size: 2em;
}

.font-display{
    font-family: $font-display;
}

.tla-descrip {
    font-size: 5.5vw;

    @media (min-width: $desktop-width) {
        font-size: 1.5em;
    }
}

.page-title{
    font-size: 12vw;
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
        font-size: 3em;
    }
}

.divider{
    border-top: 1px solid $teachla-green;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.col{
    max-width: 100%;
    height: 100%;
    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.row-reverse {
    flex-direction: row-reverse;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img-half{
    max-width: 50%;
}

.img-half-on-large{
    @media (min-width: $desktop-width) {
        max-width: 50%;
    }
}

.img-push-down{
    margin-top: 2em;
}

.img-curved{
    border-radius: 4px;
}

.img-push-up {
    margin-top: 16px;
    @media (min-width: $desktop-width) {
        margin-top: 32px;
    }
}

.no-margin{
    margin: 0;
}

.schedule-table {
    border-collapse: collapse;
    width: 100%;

    tr {
        th, td {
            border-bottom: 2px solid black;
            text-align: center;
            padding: 3vw;
            padding-top: 15px;
            padding-bottom: 15px;

            @media (min-width: $desktop-width) {
                padding: 15px;
            }
        }

        &:nth-child(even) {
            background-color: $teachla-tint;
        }
    }
}

.grid-row {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.grid-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tla-link{
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-position-y: -0%;
    background-image: linear-gradient( white 50%, $teachla-tint 50%);
    transition: background 500ms ease;
    background-size: 2.5px;
    background-size: auto 175%;

    display:inline-block;
    line-height: 16.5px;
}

.tla-link:hover {
    background-position-y: 100%;
}

*:target {
    padding-top: 70px;
    margin-top: -70px;
}

.v-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-title{
    font-size: 3rem;
}

.cta-container{
    margin-top: 3em;
    margin-bottom: 3em;
}