 // possibly move these to a minireset file
 *{
    box-sizing: border-box;
 }
 html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    min-height: calc(100vh - 70px);
    min-width: 100%;
    font-family: $font-body;
    color: $font-primary-color;
    display: flex;
    flex-direction: column;
    @media (max-width: $desktop-width) {
        padding-top: 50px;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-header;
}

p {
    line-height: 1.25;
}

ul > li {
    line-height: 1.5;
}

.word-splitter {
    @media (min-width: $desktop-width) {
        display: none;
    }
}

.container {
    padding: 0 1em;
}

.container-fill{
    flex: 1 0 auto; // makes container grow into screen
}

.container-restricted {
    margin: auto;
    max-width: calc(100vw - 3em); // enforces a not-too-wide text viewport
    width: 1000px;
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

// likely move all text-* to text utilities
.text-teachla{
    color: $teachla-green;
}

.text-center{
    text-align: center;
}

.text-desktop-right {
    @media (min-width: $desktop-width) {
        text-align: right;
    }
}

.text-it{
    font-style: italic;
}

.text-normal{
    font-weight: normal;
}

// this should be refactored
.title{
    font-family: $font-display;
    margin-bottom: 0;
}

.text-1x {
    font-size: 1rem !important;
}

.text-2x{
    font-size: 2em;
}

.text-15x{
    font-size: 1.5em;
}

.text-25x{
    font-size: 2.5em;
}

.font-display{
    font-family: $font-display;
}

.tla-descrip {
    font-size: 5.5vw;

    @media (min-width: $desktop-width) {
        font-size: 1.5em;
    }
}

.page-title{
    font-size: 10vw;
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
        font-size: 3em;
    }
}

.divider{
    border-top: 1px solid $teachla-green;
}

// re-evaluate role of row/col and grid-row/grid-col
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.col{
    max-width: 100%;
    height: 100%;
    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.justify-center {
    justify-content: center;
}

.auto-height {
    height: auto;
}

.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.flex-center {
    align-self: center;
    justify-self: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img-half-on-large{
    @media (min-width: $desktop-width) {
        max-width: 50%;
    }
}

.img-push-down{
    margin-top: 2em;
}

.img-curved{
    border-radius: 4px;
}

.img-push-up {
    margin-top: 16px;
    @media (min-width: $desktop-width) {
        margin-top: 32px;
    }
}

.no-margin{
    margin: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-50 {
    margin-bottom: 50px;
}

// refactor this into a common table component
.schedule-table {
    border-collapse: collapse;
    width: 100%;

    tr {
        th, td {
            border-bottom: 2px solid black;
            text-align: center;
            padding: 3vw;
            padding-top: 15px;
            padding-bottom: 15px;

            @media (min-width: $desktop-width) {
                padding: 15px;
            }
        }

        &:nth-child(even) {
            background-color: $teachla-tint;
        }
    }
}

.grid-row {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.grid-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// this should be refactored
@mixin tla-link(
    $link-effect-color: $teachla-tint,
    $off-color: white,
    $effect-text-color: inherit
){

    color: inherit;
    font-weight: bold;
    text-decoration: none;
    background-position: left bottom;
    background-image: linear-gradient($off-color 0%, $link-effect-color 0%);
    background-size: 100% 15%;
    background-repeat: no-repeat;

    @media (min-width: $desktop-width) {
        transition: all 500ms ease;

        &:hover{
            background-size: 100% 85%;
            color: $effect-text-color;
        }
    }
}

.tla-link {
    @include tla-link();
}

*:target {
    padding-top: 70px;
    margin-top: -70px;
}

.cta-container {
    margin-top: 3em;
    margin-bottom: 3em;
}

.pronouns {
    font-size: $pronouns-font-size;
}

.alert{
    font-size: 25px;
    font-weight: bold;
}