.generated-content {
    img {
        max-height: 25rem;
    }

    // syntax-highlighting
    .highlight {
        pre {
            background: #fafafa;
            padding: 2%;
            line-height: 1.2;
        }
    }
}