.event-section {
  height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  margin-top: 3em;
  margin-bottom: 2em;
  @media (max-width: $desktop-width) {
    grid-template-columns: 100%;
  }
}
@media (min-width: $desktop-width) {
  .event-section-reverse{
    grid-template-columns: 2fr 1fr;

  }

  .event-section-reverse div:nth-child(2){
    grid-row: 1;
  }
}

.img-decorated {
  border: 5px solid $teachla-green;
}

.centered-button-container {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.secondary-top-section {
  margin-top:2em;
  margin-bottom:2em;
}