.footer{
    flex-shrink: 0; // this is to make it a sticky footer

    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    font-family: $font-display;

    background-color: $teachla-green;
    color: white;

    a {
        color: white;
        text-decoration: none;
    }

    .footer-content {
        display: grid;

        @media (min-width: $desktop-width) {
            grid-template-columns: 2fr 4fr;
            column-gap: 2rem;
        }
    }

    .footer-main {
        display: grid;

        @media (min-width: $desktop-width) {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 1rem;
        }
    }

    .footer-col {
        padding-bottom: 1rem;

        &.no-title {
            padding-top: 3rem;
        }
    }

    .footer-title{
        margin-top: 0;
        margin-bottom: 0.5rem;

        font-size: 8vw;

        @media (min-width: $desktop-width) {
            font-size: 2.2rem;
            margin-bottom: 2rem;
        }
    }

    .footer-subtitle {
        margin: 0;

        font-size: 1.5rem;
        line-height: 2;
    }

    .footer-links {
        display: flex;
        flex-direction: row;

        padding-left: 0;
        margin: 0;

        list-style-type: none;

        li {
            padding-right: 1rem;
        }

        li:last-child {
            padding-right: 0;
        }
    }

    .footer-link {
        display: flex;
        align-items: center;

        .icon {
            font-size: 1.3rem;
        }

        &.email {
            margin: 0;
            margin-top: 0.5rem;

            .icon {
                margin-right: 0.5rem;
            }
        }
    }

    .footer-copyright {
        margin-top: 2rem;
    }

    .footer-nav {
        margin: 0;
        padding: 0;

        font-size: 1rem;
        list-style: none;

        a {
            line-height: 2rem;
        }
    }
}