.generated-content{
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-display;
        margin-bottom: 0;
    }

    a {
        @include tla-link();
    }

    ul, ol {
        font-size: 1.5rem;
    }
}