@media (min-width: $desktop-width) {
    .post-preview{
        display: grid;
        align-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 5fr 8fr;
    }
}

.post-card{
    border: solid black 2px;
    margin-top: 3em;
    padding: 1em;
    padding-top: 0em;
}

.post-preview-img{
    margin: 0.5em;
    margin-right: 1em;
    width: 100%;
    height: auto;
    align-self: center;
}

.post-info {
    margin: 1.5em 0;
    padding: 0.5em 10px;
    padding-left: 1em;

    @media (min-width: $desktop-width) {
        // this is the green bar on the left of the info;
        // we hide it on mobile
        border-left: 10px solid $teachla-green;
        margin-left: 1em;
        margin-right: 0.5em;
    }

    a {
        @include tla-link();
    }

}

.post-container {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.post-main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    height: auto;
}

.post-author-grid{
    height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2em;
    > div {
        margin-bottom: 1em;
    }

    @media (max-width: $desktop-width) {
        grid-template-columns: 100%;
        > div {
            margin-bottom: 2em;
        }
    }
}

.post-author-img{
    width: 4em;
    height: 4em;
    display: block;
    border-radius: 10px;
}

.post-author-info{
    padding-left: 1.5em;
}

.post-want-more {
    font-size: 1.5rem;
    margin: 2em;
}

.post-recommendations{
    font-size: 1.25rem;
}

.post-recommend-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 1.5em;
    padding-top: auto;
    padding-bottom: auto;
}

.post-recommend-card{
    display: grid;
    grid-template-columns: auto;
    padding: 1em;
    margin: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    border: 2px solid $teachla-green;
    border-radius: 10px;

}

.post-recommend-img{
    align-self: center;
    width: 10em;
    height: auto;
    margin: 1em;
}

.post-recommend-info{
    align-self: flex-end;
    margin: 1em;
    font-size: 0.9rem;
}



.post-img {
    padding: 2%;
    max-width: 96%;
}
