// debug
.py1-wrapper * {
    // border: solid 1px red;
}

.py1-wrapper {
    // border: solid 1px red;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 10px;
    @media (min-width: $desktop-width) {
	flex-direction: row;
    }
}

.py1-illustration img {
    max-width: 100%;
}

.py1-list {
    margin: 0;
    padding: 0;
    padding-left: 0.5em;

}

.py1-list > * { // * instead of li: no specificity override
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
}

.py1-sidebar {
    // border: solid 1px red;
    @media (min-width: $desktop-width) {
	max-width: 25%;
    }
}

.py1-learned-skills-wrapper > * {
    margin: 0;
}

.py1-learned-skills-list {
    list-style-type: "\2013";
}

.py1-divider-sidebar {
    visibility: hidden;
}

.py1-fancy-title {
    line-height: 2em;
    font-size: 1.6em;
    font-weight: bold;
}

// .py1-divider {
//     // border: none;
//     margin: 10px 10px;
//     border-top: 5px solid $teachla-tint;
//     color: $teachla-tint;
//     overflow: visible;
//     height: 100px;
//     width: 20px;
// }

.py1-divider {
    // border: solid 1px red;
    height: 10%;
    width: 100%;
    @media (min-width: $desktop-width) {
	height: 100%;
	width: 5%;
    }
}

.py1-curriculum {
    @media (min-width: $desktop-width) {
	width: 70%;
    }
}

.py1-section {
    // border: solid 1px red;
    margin: 0;
    margin-bottom: 5%;
}

.py1-section-header {
    // border: solid 1px red;
    margin: 2% 0;
}

.py1-section-header > * {
    margin: 0;
}

.py1-lessons-wrapper {
    // border: solid 1px red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1% 0;
    @media (min-width: $desktop-width) {
	flex-flow: row wrap;
    }
}

.py1-lessons-wrapper > * {
    margin: 1% 0%;
    // flex-basis: 1;
    @media (min-width: $desktop-width) {
	width: 43%;
    }
}
    
.py1-lesson {
    border: solid 1px $py-blue;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 2% 2%;
    font-size: 1rem; // anchor; mutable
}

.py1-lesson-title-bar {
    // border: solid 1px red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 8%;
}

.py1-lesson-title-bar > * {
    font-family: $font-display;
    font-weight: bold;
    font-size: 1em;
    margin: 0;
}

.py1-lesson-title-bar h2 {
    margin-right: 5%;
}

.py1-lesson-body {
    // border: solid 1px red;
    margin: 0;
    margin-bottom: 8%;
}

.py1-lesson-goal-list {
    list-style-type: "\2022";
}

.py1-lesson-action-bar {
    // border: solid 1px red;
    margin: 0;
    margin-top: auto; // makes it fall
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.py1-lesson-action-bar > * {
    margin: 0;
}

.py1-lesson-action-list {
    // border: solid 1px red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 5%;
    padding: 0;
    list-style: none;
}

.py1-lesson-action {
    // border: solid 1px red;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: $py-blue;
    border-radius: 10px;
    padding: 5% 8%;
    margin-right: 5%;
    line-height: 1;
}

.py1-lesson-action > * {
    // border: solid 1px red;
    color: white;
    text-decoration: none;
    font-family: $font-display;
    font-size: 0.8em;
}

.py1-lesson-duration {
    // border: solid 1px red;
    display: block;
    font-family: $font-display;
    font-size: 0.8em;
}

.py1-lesson-duration::before {
    content: "\1f552";
    margin-right: 0.4em;
}

// Lesson page styling
.py1-lesson-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    @media (min-width: $desktop-width) {
	flex-direction: row;
    }
}

.py1-lesson-sidebar {
    @media (min-width: $desktop-width) {
	max-width: 25%;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.py1-lesson-header {
    text-decoration: underline 7px $py-blue;
    text-underline-offset: 22%;
    margin-bottom: 50px;
}

.py1-lesson-page-description {
    // margin-bottom: 50px;
}

.py1-lesson-page-agenda {
    margin-top: 50px;
    margin-bottom: 0px;
}

.py1-lesson-brief-agenda {
    margin-top: 0px;
    margin-bottom: 50px;
}

.py1-lesson-page-action-bar {
    // border: solid 1px red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    margin-bottom: 200px;
    padding: 0;
    list-style: none;

    a {
        background-color: $py-blue;
        color: white;
        padding: 5px;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 10px;
        font-family: $font-display;
        text-decoration: none;
        font-weight: bold;
        transition: ease-in-out .2s;
    }
    
    a:hover {
        background-color: $py-blue-tint;
    }
}

.py1-lesson-page-divider {
    margin-left: 50px;
    width: 1px;
    background-color: $py-blue;
}

.py1-lesson-page-next {
    display: flex;
    justify-content: center;
    border: solid 2px $py-blue;
    background-color: white;
    margin-bottom: 32px;
    border-radius: 10px;
    transition: ease-in-out .2s;

    a {
        width: 100%;
        padding: 10px;
        text-align: center;
        color: $py-blue;
        font-family: $font-display;
        text-decoration: none;
        font-weight: bold;
    }
}

.py1-lesson-page-next:hover {
    background-color: rgb(232, 232, 232);
}

.py1-lesson-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: 50px;
    @media (max-width: $desktop-width) {
        width: 100%;
        margin-left: 0px;
    }
    
    // border: solid 2px $py-blue;

    h1 {
        width: 100%;
        text-align: start;
    }

    iframe {
        border: solid 2px $py-green;
        width: 100%;
        @media (max-width: $desktop-width) {
            max-width: 480px;
            height: 300px;
        }
        margin-bottom: 50px;
        
    }
}

.py1-lesson-practice {
    margin-bottom: 32px;
    padding: 24px;
    border: $py-green solid 2px;
    border-radius: 10px;

    a {
        background-color: $py-green;
        color: white;
        padding: 5px;
        margin-bottom: 20px;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 10px;
        font-family: $font-display;
        text-decoration: none;
        font-weight: bold;
        transition: ease-in-out .2s;
        
    }

    a:hover {
        background-color: $py-green-tint;
    }
}

