.button.button-rnative {
  @include button-classes($rnative-blue);
}

.rnative-link {
  @include class-link($rnative-blue);
}

.divider-rnative {
  @include divider-class($rnative-blue);
}

.rnative-lesson-card {
  @include lesson-card($rnative-blue);
}

.rnative-content-card {
  @include class-content-card($rnative-blue);
}

#rnative-markdown {
  padding: 3em;

  a {
    @include class-link($rnative-blue);
  }

  pre {
    overflow: auto;
    border-color: $rnative-blue;
  }
}
#desktop-sidebar-rnative{
  top: 80px;
  width: $ai-desktop-sidebar-total-width - 20px;
  margin:48px 10px;
  padding:10px 10px;
  padding-bottom: 0px;
  height: calc(100vh - 176px);    //176px is the top position(80px) + the total margin on the top and bottom (48px *2)
  max-height: $ai-desktop-sidebar-content-height;
  border: solid;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  position: -webkit-sticky;
  position: sticky;
  flex-shrink: 0;
  border-color: $rnative-blue;
  z-index: 1;
  display:inline-block;
  @media (max-width: $desktop-width-xl) and (min-width: $desktop-width) {
      grid-row: 1 / span 2;
  }
  @media (max-width: $desktop-width) {
      display: none;
  }
}
#desktop-sidebar-rnative .sidebar-item{
  padding-bottom: 15px;
}
