.profile-img {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    border-radius: 25px;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    padding-left: 0.5em;
    padding-right: 0.8em;
}