.profile-img-container{
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-right: 1.2em;
    width: 6em;
    @media (max-width: $desktop-width) {
        width: 40vw;
    }
}

.profile-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.team-member-grid {
    height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    @media (max-width: $desktop-width) {
        grid-template-columns: 100%;
    }
}

.board-member-grid{
    grid-template-columns: 50% 50%;
    font-size: 1.2em;
    @media (max-width: $desktop-width) {
        grid-template-columns: 100%;
    }
}

.team-member-content{
    @media (max-width: $desktop-width) {
        > h3 {
            font-size: 1.5em;
        }

        > .team-member-position {
            font-size: 1.25em;
        }
    }
    @media (min-width: $desktop-width) {
        > p {
            margin: 0;
        }
    }
}

.team-profile {
    @media (max-width: $desktop-width) {
        margin: 50px auto;
    }
}