.profile-img-container{
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    width: 6em;
    @media (max-width: $desktop-width) {
        width: 40vw;
    }
}

.profile-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.team-member-grid {
    height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    @media (max-width: $desktop-width) {
        grid-template-columns: 100%;
    }
}

.board-member-grid{
    grid-template-columns: 50% 50%;
    font-size: 1.2em;
    @media (max-width: $desktop-width) {
        grid-template-columns: 100%;
    }
}

.team-member-content{
    word-wrap: break-word;
    padding-left: 1.2em;
    @media (max-width: $desktop-width) {
        > h3 {
            font-size: 1em;
        }

        > .team-member-position {
            font-size: .75em;
        }
    }
    @media (min-width: $desktop-width) {
        > p {
            margin: 0;
        }
    }
}

.team-profile {
    @media (max-width: $desktop-width) {
        margin: 50px auto;
    }
}

.grid-col{
    @media(max-width: $desktop-width){
        .team-member-content{
            width: 40vw;
        }
        .tla-link{
            overflow-wrap: break-word;
            width: 1vw;
            font-size: .75em;
        }
    }   
}

.team-row {
    @media (max-width: $desktop-width) {
        flex-flow: column nowrap;
    }
}
