$acm-cobalt: #3B59ED;
$acm-black: #262938;
$acm-tint: #ACBAFA;

$teachla-green: #A1D900;
$teachla-black: #2C3022;
$teachla-tint: #C6DC85;

$ai-blue: #5ABBEF;

$font-display: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-header: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-body: 'Open Sans', sans-serif;

$font-primary-color: #333333;
$font-secondary-color: #777777;

$desktop-width: 850px;
