$acm-cobalt: #3b59ed;
$acm-black: #262938;
$acm-tint: #acbafa;

$teachla-green: #5eda12;
$teachla-black: #2c3022;
$teachla-tint: #5eda12;

$ai-blue: #5abbef;
$rnative-blue: #61DAFB;
$font-display: "Poppins", "Helvetica Neue", "Helvetica", sans-serif;
$font-header: "Poppins", "Helvetica Neue", "Helvetica", sans-serif;
$font-body: "Open Sans", sans-serif;

$font-primary-color: #333333;
$font-secondary-color: #777777;

$desktop-width: 850px;
