---
layout: default
title: "Intro to Programming with Python 1"
permalink: /classes/py1
---

<div class="py1-wrapper">
    <div class="py1-sidebar">
        <h1>how to get started in<br />
        <span class="py1-link">python</span>
        </h1>
        <p>
        confused about how to get started with
        python? here's a <strong>step-by-step learning plan</strong>
        that walks you through how to learn to make
        awesome programs, with no prior experience!
        </p>
        <div class="py1-learned-skills-wrapper">
            <p>
            learned skills:
            </p>
            <!-- this part could be automated with markdown + loop -->
            <ul class="py1-list py1-learned-skills-list">
                <li><span>data types and operators</span></li>
                <li><span>booleans and conditional statements</span></li>
                <span><em>(coming soon!)</em></span>
                <li><span><em>while loops and for loops</em></span></li>
                <li><span><em>lists</em></span></li>
                <li><span><em>creating functions</em></span></li>
            </ul>
        </div>
    </div>
    <div class="py1-divider">
    </div>
    <div class="py1-curriculum">
        <div class='py1-lessons-wrapper'>
            {% for lesson in site.py1 %}
            <div class='py1-lesson'>
                <div class='py1-lesson-title-bar'>
                    <h2><a class='py1-link' href="{{ lesson.url }}">{{ lesson.title }}</a></h2>
                    <p class='py1-step-number'>#{{ lesson.num }}</p>
                </div>
                <div class='py1-lesson-body'>
                    <ul class='py1-list py1-lesson-goal-list'>
                        {% for brief in lesson.agenda %}
                        <li class='py1-lesson-goal'><span>{{ brief.text }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class='py1-lesson-action-bar'>
                    <div class='py1-action-group'>
                        {% if lesson.slides_link %}
                        <a class='py1-lesson-action' href="{{ lesson.slides_link }}">slides</a>
                        {% endif %}
                        {% if lesson.video_link %}
                        <a class='py1-lesson-action' href="{{ lesson.video_link }}">video</a>
                        {% endif %}
                        {% if lesson.worksheet_link %}
                        <a class='py1-lesson-action' href="{{ lesson.worksheet_link }}">worksheet</a>
                        {% endif %}
                    </div>
                    <p class="py1-lesson-duration">{{ lesson.length }} min</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
