---
layout: default
title: "Introduction to React Native"
permalink: /classes/rnative
---
<h1 class="title page-title">Introduction to React Nnative</h1>
<p class="title text-2x no-margin">Class & Curriculum Outline</p>
<hr class="divider-ai" />
<p>Learn mobile web development with us! </p>

<h2 class="title">
    Brief Overview
</h2>

<p>React native is cool</p>
    <p>you should check it out</p>
<h2 class="title" id="lessons">
    Lessons
</h2>

<div class="rnative-lessons-grid">
    {% for lesson in site.rnative %}
        <div class="rnative-lesson-card">
            <div class="rnative-lesson-card-content">
                <h3 class="title no-margin"><span class="text-normal">#{{lesson.num}}</span>
                    <a class="rnative-link" href="{{lesson.url}}">{{lesson.title}}</a>
                </h3>
                {{lesson.desc}}
            </div>
            <div class="button-container">
                {% if lesson.github_link %}
                    <a class="button button-sm button-rnative" href="{{lesson.github_link}}" target="_blank" rel="noopener noreferrer">
                        <span class="fa fa-chalkboard-teacher"></span> Github
                    </a>
                {% endif %}
                {% if lesson.code_link %}
                    <a class="button button-sm button-rnative" href="{{lesson.code_link}}" target="_blank" rel="noopener noreferrer">
                        <span class="fa fa-code"></span> code
                    </a>
                {% endif %}
                
            </div>
        </div>
    {% endfor %}
</div>

<h2 class="title">More Resources</h2>
<p>
    Youtube is good too
</p>


<!--
<div class="rnative-table-contents-wrapper">
    <h1 class="main-title">
        Introduction to React Native!
    </h1>
    <h2 class="overview-title">
        Course Outline
    </h2>
    <h3 class="general-titles">
        Brief Overview
    </h3>
    <p>React native is cool</p>
    <p>you should check it out</p>

    <h3 class="general-titles">
        Lessons
    </h3>
    {%for lesson in site.rnative%}
    <div class="rnative-lesson-card">
        <div class="lesson-card-content">
            <h4 class="lesson-card-title">
                <span class="lesson-card-title-text">
                    #{{lesson.num}}
                </span>
                <a href="{{lesson.url}}">
                    {{lesson.title}}
                </a>
            </h4>
            <p class="lesson-card-desc">
                {{lesson.desc}}
            </p>
        </div>
        <div class="lesson-card-buttons">
            {%if lesson.slides_link%}
            <form class="slides-button" action="{{lesson.slides_link}}">
                <input type="submit" value="Slides"/>
            </form>
            {%endif%}
            {%if lesson.code_link%}
            <form class="code-link-button" action="{{lesson.code_link}}">
                <input type="submit" value="Code"/>
            </form>
            {%endif%}
        </div>
    </div>
    {%endfor%}
    
    <h1 class="general-titles">
        Additional Resources 
    </h1>
    <p>youtube is cool</p>
    
</div>

-->
