---
layout: default
image: "https://teachla.uclaacm.com/img/posts/{{page.img}}"
---
<meta name="twitter:image" content= "/img/posts/{{page.img}}" >

<article class="post-container">
    <h1 class="title page-title">{{page.title}}</h1>
    <!-- required for Facebook "Share" button -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="VotTmBal"></script>


    <img class="post-main-img" src=/img/posts/{{page.img}} alt="{{page.alt}}"/>

    <div>
        <p>
            written by: <a class="tla-link" href="#authors">{{page.author}}</a> •
            {{ page.date | date: "%b %-d, %Y" }} •
            <!-- TODO: IMPLEMENT TAGS! -->
            category: <a class="tla-link" href="{{site.baseurl}}/blog/category/{{page.category}}/">{{page.category}}</a> •

            {% comment %}
            {% if page.tags %}
                tags:
                {% for tag in page.tags %}
                    {{tag}}{% if forloop.last == false %}, {% endif %}
                {% endfor %}
            {% endif %} •
            {% endcomment %}
            {% capture words %}
                {{ page.content | number_of_words | minus: 250 }}
            {% endcapture %}
            {{ words | plus: 250 | append: " words" }} •
            <span class="fa fa-clock"></span>
            {% if words contains "-" %}
            a quick read
            {% else %}
            ~ {{ words | plus: 250 | divided_by: 180 | append: " minute read" }}
            {% endif %}
        </p>
    </div>

    <hr class="divider" />
    <div class="generated-content">
        {{content}}
    </div>

<hr class="divider" />
</article>


<div class = "social-buttons" style="text-align: center">
Enjoyed the read? Share on social media! <br>
<a class="fb-share-button"  data-layout="button" data-size="large" target="_blank" href="" class="fb-xfbml-parse-ignore">Share</a>
<a class="twitter-share-button" href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

</article>


<hr class="divider" />
<div class="post-author-grid">
    <h2 class="title" id="authors">Author{% if page.authors.size > 1 %}s{% endif %}</h2>

    {% for authorobj in page.authors %}
        {% assign author = site.team | where_exp:"item", "item.firstname == authorobj.fname and item.lastname == authorobj.lname" | first %}
        {% capture author_name %}
            {{authorobj.fname}} {{authorobj.lname}}
        {% endcapture %}
        {% capture author_url %}
            {{author.url}}
        {% endcapture %}
        {% capture author_role %}
            {{author.title}}
            {% if author.secondary %}
                &amp; {{author.secondary}}
            {% endif %}
        {% endcapture %}
        {% capture author_img %}
            {% if author.img %}
                {{site.baseurl}}/img/team/{{author.img}}
            {% else %}
                {{site.baseurl}}/img/blank-profile.jpg
            {% endif %}
        {% endcapture %}

        {% include blog-author-card.html name=author_name role=author_role img=author_img url=author_url %}
        {% if author.pronouns %}
            {% capture author_pronouns %}
                    {{author.pronouns}}
            {% endcapture %}
        {% else %}
            {% capture author_pronouns %}{% endcapture %}
        {% endif %}
    {% endfor %}
</div>
<hr class="divider" />

<div class="text-center title post-want-more">
    want more? here are some related posts:

<div class="text-center title post-recommendations post-recommend-container">
    {% assign iterations = 4 %} <!--Iterations may change if a recommendation is skipped due to being the same-->
    {% for post in site.posts %}
        {% if post.title == page.title %} <!--Skip the current page so its not recommended-->
            {% assign iterations = iterations | plus: 1 %}
            {% continue %}
        {% endif %}
        {% if forloop.index >= iterations %} <!--Because Liquid thinks its MatLab and starts iterating at 1 smh-->
            {% break %}
        {% endif %}

        <div class="post-recommend-card">
            <div><a class="tla-link" href="{{post.url}}">{{post.title}}</a></div>
            <a href="{{post.url}}"><img class="post-recommend-img" src=/img/posts/{{post.img}} alt = "{{post.alt}}"/></a>
            <div class="post-recommend-info">{{post.author}} on {{ post.date | date: "%b %-d, %Y" }}</div>
        </div>
    {% endfor %}

</div>
or <a class="tla-link" href="{{site.baseurl}}/blog">binge read the whole blog here</a>
</div>
