---
layout: default
fw: true
---
<div class="py1-wrapper">
    <div class="py1-sidebar">
        <div>
            <h1 class="py1-lesson-header">
                {{ page.num }}. {{ page.title }}
            </h1>
            <p>
                {{ content }}
            </p>

            {% include py1-lesson-card-content.html %}

        </div>

        {% if page.next_lesson %}
        <div class="py1-lesson-page-next">
            <a href="{{site.baseurl}}/classes/py1/{{page.next_link}}">next lesson: {{ page.next_lesson }}</a>
        </div>
        {% endif %}
        <div class="py1-lesson-page-home">
            <a href="{{site.baseurl}}/classes/py1/">back to curriculum home</a>
        </div>

    </div>

    <div class="py1-divider"></div>

    <div class="py1-lesson-content">
        <iframe width="960" height="450" src={{ page.video_link }} frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        {% if page.practice %}
        <h1>more practice</h1>

        {% for item in page.practice %}
        <div class="py1-lesson-practice">
            <b>question #{{ item.problem.num }}</b> <br>
            {{ item.problem.question | markdownify }} <br>
            <a href="{{ item.problem.solution }}" target="_blank">solution</a>
        </div>
        {% endfor %}

        {% endif %}

    </div>
</div>