---
layout: default 
---
<article>
    <h1 class="title page-title">Report: {{page.title}}</h1>
    <p>
        Authored by the Teach LA community, with significant contributions from {{page.author}}.
    </p>
    <p>
        Date published: {{ page.date | date: "%b %-d, %Y" }}.
        <a href="https://teachla.uclaacm.com/feed.reports.xml" aria-labelledby="report-icon-top"> 
            <span id="report-icon-top" hidden>Subscribe to RSS feed for reports</span>
            <span class="fas fa-rss-square" aria-hidden="true"></span> 
        </a>
    </p>
    <hr class="divider" />
    <div class="generated-content">
        {{content}}
    </div>
    <hr class="divider" />
    <p>
        Thank you for reading this report, <b>{{page.title}}</b>. It was authored by the Teach LA community, with significant contributions from {{page.author}}.
    </p>
    <p>
    Subscribe to our RSS feed - 
    <a href="https://teachla.uclaacm.com/feed.reports.xml" aria-labelledby="report-icon-bottom"> 
        <span id="report-icon-bottom" hidden>Subscribe to RSS feed for reports</span>
        <span class="fas fa-rss-square" aria-hidden="true"></span> 
    </a>
    </p>
</article>
<p>
    <a class="tla-link" href="{{site.baseurl}}/reports">See more reports here.</a>
</p>