---
layout: default
fw: true
---
<!-- ^idk what this does but im just putting it -->

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<div class="rnative-content-container">
    <div>
        <div class="rnative-content-card">
            <h1 class="title text-2x no-margin">{{page.title}}</h1>
            <p>
                {{page.desc}}
            </p>
            <hr class="divider-rnative" />
            <ul class="list-unstyled text-15x">
                {% if page.github_link %}
                    <li>
                        <a class="rnative-link" href="{{page.github_link}}" target="_blank" rel="noopener noreferrer">
                            <span class="fa fa-fw fa-chalkboard-teacher"></span> Link to Github
                        </a>
                    </li>
                {% endif %}
                {% if page.code_link %}
                    <li>
                        <a class="rnative-link" href="{{page.code_link}}" target="_blank" rel="noopener noreferrer">
                            <span class="fa fa-fw fa-code"></span> Link to code
                        </a>
                    </li>
                {% endif %}
                
            </ul>
            <hr class="divider-rnative" />
            <div>
                {% if page.next %}
                    <a class="button button-rnative button-block" href="{{page.next.slug}}">
                        <span class="fa fa-arrow-right"></span> next lesson{% if page.next_text %}: {{page.next_text}}{% endif %}
                    </a>
                {% endif %}
                <a class="button button-rnative button-block" href="{{site.baseurl}}/classes/rnative">
                    <span class="fa fa-arrow-left"></span> back to lessons
                </a>
            </div>
        </div>
    </div>
    <div class="markdown-container" id="rnative-markdown">
        
    </div>
    <div>
        {% if page.md_notes %}
                    <li>
                        <a class="rnative-link" href="{{page.homework_link}}" target="_blank" rel="noopener noreferrer">
                            <span class="fa fa-fw fa-pencil-alt"></span> Notes
                        </a>
                    </li>
                {% endif %}
    </div>
</div>

<script>
    logTopSecretMessage("Note from the devs: there's a CORS error, we know. This is upstream with Google, unfortunately nothing we can do :(");
</script>

<script>
    fetch("{{page.raw_github_link}}/README.md")
    .then(response => response.text())
    .then(data => {
        let imgPaths = data.match(/(?<=(!\[.*]\())(.*?)(?=\))/gm);                      // get github local image paths
        if (imgPaths) {
            imgPaths.forEach((oldPath) => {                                             // replace each local path with github url
                let newPath = oldPath.match(/(images)\/(.*)/gm);
                let newImg = "{{page.raw_github_link}}/" + newPath;
                data = data.replace(oldPath, newImg);
            });
        }
        
        document.getElementById('rnative-markdown').innerHTML = marked(data);
    })
    .then(() => {
        // add styling to links
        const links = document.getElementById('rnative-markdown').getElementsByTagName('a');
        for (let i = 0; i < links.length; i++) {
            links[i].classList.add("rnative-link");
        }
    });
  </script>
