---
layout: default
fw: true
---

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js"></script>

<div class="class-content-container">
    <div>
        <div class="rnative-content-card">
            <h1 class="title text-2x no-margin">{{page.title}}</h1>
            <p>
                {{page.desc}}
            </p>
            <hr class="divider-rnative" />
            <ul class="list-unstyled text-15x">
                {% if page.course_id %}
                    <li>
                        {% comment %} TODO - change this to a map lookup {% endcomment %}
                        <a class="rnative-link" href="{{site.data.classes[3].github}}/{{page.course_id}}" target="_blank" rel="noopener noreferrer">
                            <span class="fab fa-fw fa-github"></span> Link to GitHub Repository
                        </a>
                    </li>
                {% endif %}
                {% if page.code_link %}
                    <li>
                        <a class="rnative-link" href="{{page.code_link}}" target="_blank" rel="noopener noreferrer">
                            <span class="fa fa-fw fa-code"></span> Link to code
                        </a>
                    </li>
                {% endif %}
                
            </ul>
            <hr class="divider-rnative" />
            <div>
                {% if page.next %}
                    <a class="button button-rnative button-block" href="{{page.next.slug}}">
                        <span class="fa fa-arrow-right"></span> next lesson{% if page.next_text %}: {{page.next_text}}{% endif %}
                    </a>
                {% endif %}
                <a class="button button-rnative button-block" href="{{site.baseurl}}/classes/rnative">
                    <span class="fa fa-arrow-left"></span> back to lessons
                </a>
            </div>
        </div>
    </div>
    <div class="generated-content" id="rnative-markdown">
    </div>
</div>

<script>
    // TODO - change this to a map lookup
    fetch("{{site.data.classes[3].raw_github}}/{{page.course_id}}/README.md")
    .then(response => response.text())
    .then(data => {
        let imgPaths = data.match(/(?<=(!\[.*]\())(.*?)(?=\))/gm);                      // get github local image paths
        if (imgPaths) {
            imgPaths.forEach((oldPath) => {                                             // replace each local path with github url
                let newPath = oldPath.match(/(images)\/(.*)/gm);

                // TODO - change this to a map lookup
                let newImg = "{{site.data.classes[3].raw_github}}/{{page.course_id}}/" + newPath;
                data = data.replace(oldPath, newImg);
            });
        }

        let headers = data.match(/^# /);                                               // change h1 to h2 in markdown file
        if (headers) {
            headers.forEach((header) => data = data.replace(header, "## "));
        }
        return marked(data);
    })
    .then(convertedHTML => {
        // sanitize html
        document.getElementById('rnative-markdown').innerHTML = DOMPurify.sanitize(convertedHTML); 
    });
  </script>
