---
layout: default
---

<div class="team-profile">
    <div class="row team-row">
        <div class="col">
            {% if page.img %}
            <img class="profile-img" src="{{ site.baseurl }}/img/team/{{ page.img }}" alt="picture of {{ page.name }}">
            {% else %}
            <img class="profile-img" src="{{site.baseurl}}/img/blank-profile.jpg" alt="picture of {{ page.name }}"/>
            {% endif %}
        </div>

        <div class="col">
            <h1 class="title">{{ page.name }}
                <!-- only outputs pronouns if a person has pronouns listed-->
                {% if page.pronouns %}
                    <span class="pronouns">({{page.pronouns}})</span>
                {% endif %}
            </h1>
            <p class="no-margin text-15x">{{ page.title }} {% if page.secondary %}& {{page.secondary}}{% endif %}</p>

            {% if page.content %}
            <div class="team-content">
                {{ page.content }}
            </div>
            {% endif %}

            {% if page.links or page.email or page.github %}
            <div class="team-links">
                <ul>
                    {% if page.email %}
                    <li><a class="tla-link" href="mailto:{{ page.email }}"><span class="fa fa-envelope"></span> {{ page.email }}</a></li>
                    {% endif %}
                    {% if page.github %}
                    <li><a class="tla-link" href="https://github.com/{{ page.github }}" rel="noopener noreferrer" target="_blank"><span class="fab fa-github"></span> {{ page.github }}</a></li>
                    {% endif %}
                    {% for link in page.links %}
                    <li>
                        <a class="tla-link" href="{{ link.href }}" rel="noopener noreferrer" target="_blank">
                            {{ link.name }}
                        </a>
                    </li>
                    {% endfor %}    
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- blog posts -->
<div class="team-posts">
    {% assign authors_posts = site.posts | where_exp:"post", "post.authors contains page.name" | sort_by:"date" %}
    {% if authors_posts.size > 0 %}
        {% assign firstname = page.name | split: " " | first %}
        {% if page.pronouns and page.pronouns contains "they" %}
            {% assign have_has = "have" %}
        {% else %}
            {% assign have_has = "has" %}
        {% endif %}
        <h2 class="title"> Blog posts that {{ firstname }} {{ have_has }} written: </h2>
        {% for post in authors_posts %}
            <section class="post-card">

                <!-- TODO: IMPLEMENT TAGS! -->
            
                <div class="post-preview">
                <a href={{post.url}}>
                    <img  class="post-preview-img" src="{{site.baseurl}}/{{post.image}}" alt="{{post.alt}}" />
                </a>
                <div class="post-info">
                    <h3 class="title">
                    <a class="tla-link" href="{{post.url}}">{{post.title}}</a>
                    </h3>
                    <p class="title">
                    by {{post.author}} <span class="text-normal">on {{ post.date | date: "%b %-d, %Y" }}</span> | category: <a class="tla-link" href="{{site.baseurl}}/blog/category/{{post.category}}/">{{post.category}}</a>
                    </p>
                    <hr class="divider"/>
                    <p class="generated-content">{{post.excerpt}}</p>
                </div>
                </div>
            </section>
        {% endfor %}
    {% endif %}
</div>
<!-- blog posts -->

<div class="cta-container">
    <hr class="divider">
    <p class="bottom-button-container">
        <a class="button" href="{{ site.baseurl }}/team">Meet more of our team!</a>
    </p>
</div>
